<IfModule mod_rewrite.c>

    RewriteEngine on
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*[^/])$ /$1/ [R=301,NC,L]

    # errors
    RewriteRule ^404/?$ index.php?page=404 [L]
    ErrorDocument 404 /index.php?page=404

    # debug mode
    RewriteRule ^debug/?$ index.php?&page=debug [L]

    # auth pages
    RewriteRule ^auth/login/?$ index.php?page=auth_login [L]
    RewriteRule ^auth/register/?$ index.php?page=auth_register [L]
    RewriteRule ^auth/register/confirm/([A-Za-z0-9-]+)/?$ index.php?page=auth_register_conform&key=$1 [NC,L]
    RewriteRule ^auth/logout/?$ index.php?page=auth_logout [L]
    RewriteRule ^auth/forgot-password/?$ index.php?page=auth_forgot_password [L]
    RewriteRule ^auth/forgot-password/reset/([A-Za-z0-9-]+)/?$ index.php?page=auth_forgot_password&key=$1 [NC,L]

    # customer pages
    RewriteRule ^/?$ index.php?page=customer_index [L]
    RewriteRule ^index/?$ index.php?page=customer_index [L]


</IfModule>